.prices {
    position: relative;
    width: 100vw;
    background-color: var(--beige);
    padding: 2rem 1rem;
}

.back-img {
    opacity: 0.15;
}

.prices-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: .5rem;
    border-top: solid 1px var(--brown);
    border-bottom: solid 1px var(--brown);
    font-weight: bold;
    font-size: 0.8rem;
}
.prices-content .fa-info-circle {
    font-size: 1rem;
    margin-right: .5rem;
}
.prices-content,
.content-block {
    position: relative;
    z-index: 2;
    display: -webkit-box; /* Old iOS Safari */
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* Old iOS Safari */
    -ms-flex-direction: column; /* IE 10 */
    flex-direction: column;
    -webkit-box-align: center; /* Old iOS Safari */
    -ms-flex-align: center; /* IE 10 */
    align-items: center;
    width: 100%;
}

.content-block {
    padding-bottom: 1rem;
}

.prices-content:last-of-type {
    margin-top: 4rem;
}

.prices-header,
.price-item {
    display: -webkit-box; /* Old iOS Safari */
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify; /* Old iOS Safari */
    -ms-flex-pack: justify; /* IE 10 */
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    padding: 0.5rem 0;
}

.prices-header {
    font-weight: bold;
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
}

.prices-header-item {
    font-size: 1.2rem;
    -webkit-box-flex: 1; /* Old iOS Safari */
    -moz-box-flex: 1; /* Firefox */
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: start;
    cursor: default;
}

.prices-header-item:nth-child(2) {
    text-align: end;
}

.price-description {
    display: -webkit-box; /* Old iOS Safari */
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center; /* Old iOS Safari */
    -ms-flex-align: center; /* IE 10 */
    align-items: center;
    -webkit-box-flex: 1; /* Old iOS Safari */
    -moz-box-flex: 1; /* Firefox */
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 70%;
}

.price-description * {
    line-height: 1;
}

.price-description span {
    font-weight: bold;
}

.price-value {
    font-weight: bold;
    text-align: right;
    cursor: default;
}

.price-item:nth-of-type(even) {
    background-color: #f6c692b3;
}

.price-item {
    padding: 0.5rem;
    /* init animation */
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.price-item p {
    font-size: 0.7rem;
    opacity: 0.75;
    margin-left: 0.5rem;
}

.fa-info {
    margin-left: 0.5rem;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 15px;
    /* background: linear-gradient(to right bottom, var(--beige), var(--brown)); */
    background: var(--brown);
    box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem #4048bf4d;
    min-height: min-content;
    padding-top: 1rem;
    overflow: hidden;
    z-index: 2;
    opacity: 0.9;
}

.popup-content {
    font-size: 0.65rem;
    color: var(--white);
    cursor: default;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: -webkit-box; /* Old iOS Safari */
    display: -moz-box; /* Firefox */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center; /* Old iOS Safari */
    -ms-flex-pack: center; /* IE 10 */
    justify-content: center;
    -webkit-box-align: center; /* Old iOS Safari */
    -ms-flex-align: center; /* IE 10 */
    align-items: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid #f3f3f366;
    border-radius: 100rem;
    color: inherit;
    font-size: 1rem;
    -webkit-transition: var(--defaultTransition); /* Safari */
    -moz-transition: var(--defaultTransition); /* Firefox */
    -o-transition: var(--defaultTransition); /* Opera */
    transition: var(--defaultTransition);
}
.popup-close::before {
    content: "×";
    color: var(--white);
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
}
.popup:hover .popup-close::before {
    -webkit-transform: translateY(-0.1rem) scale(1.2);
    transform: translateY(-0.1rem) scale(1.2);
    -webkit-transition: var(--defaultTransition); /* Safari */
    -moz-transition: var(--defaultTransition); /* Firefox */
    -o-transition: var(--defaultTransition); /* Opera */
    transition: var(--defaultTransition);
    cursor: pointer;
}
.massage-title:first-of-type {
    margin-top: 1.25rem
}
@media screen and (min-width: 1024px) {
    .prices-content {
        font-size: 0.8rem;
    }
    .massage-title {
        margin: 0.1rem 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .prices-header-item,
    .price-value {
        width: 100%;
        align-content: center;
    }
    .prices-content .fa-info-circle {
        font-size: 1.5rem;
        margin-right: 1rem;
    }
}
