.sub-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C592;
    border-bottom: 1px solid black;
    z-index: 10;
}

.logo {
    background-image: url("../assets/evim-logo-cir.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    transition: var(--defaultTransition);
}

.logo:hover {
    width: 100px;
    height: 100px;
    transition: var(--defaultTransition);
}

.sub-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sub-header-left > div {
    font-family: var(--decorativeFont);
}

.toggle-button {
    margin-right: 1rem;
}

.bar {
    width: 50px;
    height: 2px;
    background-color: #44220D;
    margin: 10px;
    /*box-shadow: 0px 0px 8px hsla(23, 68%, 16%, 0.7);*/
}

.price {
    position: absolute;
    width: 100vw;
    height: auto;
    background-color: #F6C592;
}

.back-img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/pexels-anntarazevich-6560304.jpg");
    background-size: cover;
    background-position: 0,0;
    opacity: 0.15;
    z-index: 1;
}

#wrapper {
    padding-top: 80px;
}

.prices-content * {
    cursor: default;
}

.prices-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.prices-content > table {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .prices-content > p {
    color: #44220D;
    background-color: #F6C592;
    width: 84vw;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem;
    margin: 2.5rem 0;
} */

.massage-title {
    color: #44220D;
    background-color: #F6C592;
    font-size: 1rem;
    min-width: 65vw;
    font-style: var(--decorativeFont);
    font-weight: 700;
    padding: 1rem 3rem;
    margin: 2.5rem 0;
    text-align: center;
    border-radius: 80px;
    border: 1px solid black;
    transition: var(--defaultTransition);
}

.massage-title:hover {
    color: #F6C592;
    background-color: #44220D;
    transition: var(--defaultTransition);
}

.prices-content th {
    font-size: 1.5rem;
}

.prices-content td {
    padding: 0.5rem;
}

.prices-content tr th:nth-child(1), .prices-content tr th:nth-child(2), .prices-content tr td:nth-child(1), .prices-content tr td:nth-child(2) {
    width: 30vw;
    word-wrap: break-word;
}

.prices-content tr th:nth-child(3), .prices-content tr th:nth-child(4), .prices-content tr td:nth-child(3), .prices-content tr td:nth-child(4) {
    text-align: center;
    min-width: 12vw;
    text-wrap: nowrap;
}

.prices-content tr {
    font-size: 1.2rem;
    height: 3rem;
    font-weight: 600;
}

.d1 {
    background-color: #f6c692b3;
}