:root {
    --beige: #F6C592;
    --brown: #44220D;
    --black: #000000;
    --mainFont: 'Quicksand', sans-serif;
    --decorativeFont: 'Kiwi Maru', serif;
    --defaultTransition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #44220D;
}

html {
    font-size: 18px;
    font-weight: 500;
}

body {
    font-family: var(--mainFont);
}

h1 {
    font: var(--mainFont);
    font-size: 2rem;
    font-weight: 700;
    color: #44220D;
    text-align: center;
}

p {
    font-size: 1rem;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

::selection {
    background-color: var(--brown);
    color: var(--beige);
}

/* MINWIDTH OPTIMALIZATION */
@media screen and (min-width: 1680px) {
    html {
        font-size: 26px;
    }
}

/* MAXWIDTH OPTIMALIZATION */
@media screen and (max-width:768px) {
    html {
        font-size: 14px;
    }
}

/* SUB SITE STYLES */

/* HEADER */

.sub-header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C592;
    border-bottom: 1px solid black;
    z-index: 10;
}

.sub-header .logo {
    background-image: url("./assets/evim-logo-cir.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    transition: var(--defaultTransition);
}

.sub-header .logo:hover {
    transform: rotate(1turn);
    transition: var(--defaultTransition);
}

.sub-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sub-header-left > div {
    font-family: var(--decorativeFont);
}

.sub-header .toggle-button {
    margin-right: 1rem;
}

.sub-header .toggle-button .bar {
    width: 50px;
    height: 2px;
    background-color: #44220D;
    margin: 10px;
    /*box-shadow: 0px 0px 8px hsla(23, 68%, 16%, 0.7);*/
}
