* {
    color: var(--brown);
}

*:hover {
    transition: var(--defaultTransition);
}

#bookingForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    z-index: 2;
    transition: var(--defaultTransition);
}

input {
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--beige);
    padding: 10px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin-bottom: 1rem;
    font-weight: 700;
}

/* input[type="date"] {
    background: var(--beige)
        url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
        93% 50% no-repeat;
} */

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
} */

input:focus {
    outline: none;
}

input:hover {
    background-color: #45220d66;
}

label {
    display: block;
    margin: 1rem 0 .3rem 0;
    font-weight: 700;
}

button[type="submit"] {
    background-color: var(--beige);
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 8px #45220d66;
    transition: var(--defaultTransition);
    padding: 0.2rem 2rem 0.2rem 2rem;
}

button[type="submit"]:hover {
    background-color: var(--brown);
    color: var(--beige);
    transition: var(--defaultTransition);
    cursor: pointer;
}
