.sub-header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C592;
    border-bottom: 1px solid black;
    z-index: 10;
}

.sub-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sub-header-left > div {
    font-family: var(--decorativeFont);
}

.logo {
    background-image: url("../assets/evim-logo-cir.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    transition: var(--defaultTransition);
}

.logo:hover {
    width: 100px;
    height: 100px;
    transition: var(--defaultTransition);
}

.toggle-button {
    margin-right: 1rem;
}

.bar {
    width: 50px;
    height: 2px;
    background-color: #44220D;
    margin: 10px;
    /*box-shadow: 0px 0px 8px hsla(23, 68%, 16%, 0.7);*/
}

.back-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/pexels-anntarazevich-6560304.jpg");
    background-size: cover;
    background-position: 0,0;
    z-index: 1;
}

.back-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(246, 198, 146, 0.7);
    z-index: 2;
}