.sub-header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C592;
    z-index: 10;
}

.logo {
    background-image: url("../assets/e-vital-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    width: 200px;
    height: 90px;
    margin-left: 1rem;
}

.toggle-button {
    margin-right: 1rem;
}

.bar {
    width: 50px;
    height: 2px;
    background-color: #44220D;
    margin: 10px;
    box-shadow: 0px 0px 8px hsla(23, 68%, 16%, 0.7);
}