.sub-header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C592;
    border-bottom: 1px solid black;
    z-index: 10;
}

.logo {
    background-image: url("../assets/evim-logo-cir.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    transition: var(--defaultTransition);
}

.logo:hover {
    width: 100px;
    height: 100px;
    transition: var(--defaultTransition);
}

.toggle-button {
    margin-right: 1rem;
}

.bar {
    width: 50px;
    height: 2px;
    background-color: #44220D;
    margin: 10px;
    /*box-shadow: 0px 0px 8px hsla(23, 68%, 16%, 0.7);*/
}

.back-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/pexels-anntarazevich-6560304.jpg");
    background-size: cover;
    background-position: 0,0;
    z-index: 1;
}

.back-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(246, 198, 146, 0.7);
    z-index: 2;
}

.massages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.massage-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60vw;
    margin-bottom: 3rem;
    transition: var(--defaultTransition);
}

.massage-container:hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.massage-title {
    color: #44220D;
    background-color: #F6C592;
    font-size: 1rem;
    min-width: 65vw;
    font-style: var(--decorativeFont);
    font-weight: 700;
    padding: 1rem 3rem;
    margin: 2.5rem 0;
    text-align: center;
    border-radius: 80px;
    border: 1px solid black;
    transition: var(--defaultTransition);
}

.massage-title:hover {
    color: #F6C592;
    background-color: #44220D;
    transition: var(--defaultTransition);
}

.massage-name {
    font-size: 1.5rem;
    font-weight: 900;
}

.massage-desc {
    font-weight: 600;
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
    font-size: 1.1rem;
}

.price-right {
    text-align: right; 
    text-wrap: nowrap;
}

/*.appointment {
    background-color: #44220D;
    color: #F6C592;
    font-family: var(--mainFont);
    font-weight: 700;
    border-radius: 40px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 0px 0px 8px hsla(23, 68%, 16%, 0.4);
    transition: var(--defaultTransition);
}

.appointment:hover {
    background-color: #F6C592;
    color: #44220D;
    transition: var(--defaultTransition);
}*/


/* MAXWIDTH OPTIMALIZATION */
@media screen and (max-width:1024px) {
    .massage-container {
        width: 80vw;
    }
}

@media screen and (max-width:425px) {
    html {
        font-size: 14px;
    }
    .massage-container {
        width: 90vw;
    }

}